/*============================================================================================
*  Header:
*=============================================================================================
*/
#game_header {
    text-align: center;
    vertical-align: top;
    margin: 0px;
    min-height: 20vh;
    max-height: 20vh;
    
    padding-top: 5vh;
}
#montagsmaler_gameheader {
    color: black;
    font-size: 6vw;
    font-family: 'Amatic SC', cursive;
    
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
}
/*============================================================================================
*  Main:
*=============================================================================================
*/
content {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    
    max-height: 75vh;
    min-height: 75vh;
}

/*============================================================================================
*  PaintMode:
*=============================================================================================
*/
#paintMode {
    min-width: 60%;
    max-width: 60%;
    display: inline-block;
    
    vertical-align: top;
}

/*---------------------------------------------
* Sidebar-Tools
*----------------------------------------------
*/
.sidebar {
	display: inline-block;
    visibility: hidden;
    min-width: 20%;
    max-width: 20%;
	vertical-align: top;
    
    background-color: rgba(0,0,0,0.5);
    border-radius: 12px;
}
#controllFields {
    padding: 1vh 1vw 1vh 1.3vw;
}
#colorField {
    padding: 1vh 1vw 1vh 1.3vw;
}
.box {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    
    min-height: 27vh;
    max-height: 27vh;
}
.item {
	display: inline-block;
    
    max-width: 35%;
    min-width: 35%;
    
    min-height: 7vh;
    max-height: 7vh;
    
	border-style: solid;
	border-width: 1px;
	vertical-align: middle;
	text-align: center;
}
.item:hover {
	cursor: pointer;
}
.tools .item.selected {
	background-color: rgb(250, 218, 114);
}
.tools .item:hover {
	color: rgb(40,40,40);
	background-color: rgb(236,250,114);
}
.colors .preview {
	display: inline-block;
	background-color: #FFF;
}
.colors .black {
	background-color: #000;
}
.colors .white {
	background-color: #FFF;
}
.colors .red {
	background-color: #F00;
}
.colors .green {
	background-color: #080;
}
.colors .blue {
	background-color: #00F;
}
.colors .yellow {
	background-color: #FF0;
}
/*---------------------------------------------
* Canvas && Ratebegriff
*----------------------------------------------
*/
#paintTools {
    display: inline-block;
    min-width: 60%;
    max-width: 60%;
}
.canvas {
    min-width: 100%;
    max-width: 100%;
    
    min-height: 55vh;
    max-height: 55vh;
    
	background-color: #FFF;
	vertical-align: top;
    border: 10px dotted lightcoral;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
}
.ratebegriff {
    min-width: 100%;
    max-width: 100%;
    font-size: 1.6vw;
    
    min-height: 4.5vh;
    max-height: 4.5vh;
    
    margin-top: 3vh;
    visibility: hidden;
    
    padding-top: 1vh;
	vertical-align: top;
    text-align: center;
    
    background-color: antiquewhite;
    border: 6px solid black;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.7);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.7);
}
/*---------------------------------------------
* Buttons
*----------------------------------------------
*/
#controllButtons {
    display: inline-block;
    vertical-align: top;
    min-width: 15%;
    max-width: 15%;
}
#neueRundeButton {
    visibility: hidden;
    display: inline-block;
    background-color: coral;
    
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    
    font-size: 1.7vw;
    color: antiquewhite;
    
    min-width: 100%;
    max-width: 100%;
    
    text-align: center;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
    
    transform: translate(-20px, 0px) rotate(-10deg);
}
#neueRundeButton:hover {
    cursor: pointer;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.85);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.85);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.85);
    
    transform: translate(-20px, 0px) rotate(-10deg) scale(1.1);
}

/*============================================================================================
*  ObserverMode:
*============================================================================================
*/
#observeMode {
    min-width: 29%;
    max-width: 29%;
    
    display: inline-block;
    vertical-align: top;
    
    margin-right: 8%;
}

.ratepanel {
    min-width: 100%;
    max-width: 100%;
}

/*---------------------------------------------
* MessageBar
*----------------------------------------------
*/
#messages {
    overflow: auto;
    
    margin: 0px;
    
    padding-top: 2vh;
    padding-bottom: 2vh;
    
    min-height: 50vh;
    max-height: 50vh;
    
    font-size: 1.3vw;
    
    background-color: lightgoldenrodyellow;
    border: 10px dashed lightblue;
    border-radius: 10px;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.6);
}
#messages li {
    list-style: none;
}
#m {
    visibility: hidden;
    margin-top: 3vh;
    
    font-size: 1.5vw;
    
    min-width: 60%;
    max-width: 60%;
    
    border: 3.5px solid lightblue;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.5);
}
#sendBtn {
    visibility: hidden;
    min-width: 27%;
    max-width: 27%;
    font-size: 1.5vw;
    
    border-radius: 12px;
    
    border: 5px solid black;
    color: antiquewhite;
    
    background-color: rgba(0,0,0,0.6);
}
#sendBtn:hover {
    color: lightblue;
    cursor: pointer;
    
    -webkit-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.8);
    box-shadow: 0px 6px 20px 2px rgba(0,0,0,0.8);
}
.ratepanel form {
    visibility: hidden;
    
    text-align: right;
    vertical-align: top;
}