html {
	background: url(../images/corkBoard.jpg) no-repeat center center fixed;
	font-family: 'Roboto', sans-serif;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-color: none;
}
body {
    margin: 0px;
}
/*============================================================================================
*  Header:
*=============================================================================================
*/
#startseite_header {
    text-align: center;
    margin: 0px;
    min-height: 20vh;
    max-height: 20vh;
    
    padding-top: 5vh;
}
/* "Montagsmaler" - zentriert
--------------------------------------------*/
#montagsmaler_header {
    color: black;
    font-size: 6vw;
    font-family: 'Amatic SC', cursive;
    
    display: inline-block;
    min-width: 40%;
    max-width: 40%;
    
    min-height: 20vh;
    max-height: 20vh;
    
    vertical-align: top;
}
/* links
--------------------------------------------*/
#header_left {
    display: inline-block;
    min-width: 29%;
    max-width: 29%;
    
    min-height: 20vh;
    max-height: 20vh;
    
    vertical-align: top;
}
/* rechts
--------------------------------------------*/
#header_right {
    display: inline-block;
    min-width: 29%;
    max-width: 29%;
    
    min-height: 20vh;
    max-height: 20vh;
    
    text-align: right;
    vertical-align: top;
}

/*SignIn && SignUp - Handhabung: */
#signup {
    color: black;
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
    background: grey;
    margin-right: 3%;
    padding-right: 1%;
    padding-left: 1%;
}
#signin {
    color: black;
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
    background: grey;
    margin-right: 3%;
    padding-right: 1%;
    padding-left: 1%;
}
.statusHidden {
    display: none !important;
}
.userHidden {
    display: none;
}
#userPic img {
    max-width: 23%;
    min-width: 23%;
    
    display: inline-block;
}
/*Dropdown-Liste: */
.dropDown {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    
    max-width: 75%;
    min-width: 75%;
}
#userName {
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
    font-size: 3.5vw;
}
.dropdownContent {
    display: none;
    position: absolute;
    text-align: right;
    background-color: antiquewhite;
    min-width: 20%;
    max-width: 20%;
    -webkit-box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}
.dropdownContent a {
    color: black;
    text-decoration: none;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 2.5vw;
    padding-right: 1vw;
}
.dropdownContent a:hover {
    background-color: oldlace;
}
.dropDown:hover .dropdownContent {
    display: block;
}
.dropDown:hover {
    background-color: darkred;
}
input {
    font-family: 'Roboto', sans-serif !important;
}

/*============================================================================================
*  Main:
*=============================================================================================
*/

/* Öffentlicher Bereich
====================================================================*/
#public_bereich {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2vw;
    
    max-height: 43vh;
    min-height: 43vh;
}
/* Pinnwand - links:
--------------------------------------------*/
#pinnwand {
    background: antiquewhite;
    
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    margin-left: 5%;
    min-width: calc(100%/3 - 10%);
    max-width: calc(100%/3 - 10%);
    
    min-height: 32vh;
    max-height: 32vh;
}
/* Highscore - zentriert:
--------------------------------------------*/
#highscore {
    background: antiquewhite;
    
    display: inline-block;
    margin-right: 3%;
    margin-left: 3%;
    padding: 2%;
    min-width: calc(100%/3 - 11%);
    max-width: calc(100%/3 - 11%);
    
    min-height: 28vh;
    max-height: 28vh;
}
#bestenliste td {
    text-align: left;
}
.bestenlistePoints {
    text-align: right;
}
/* Weisheiten & Vorschlagen - rechts:
--------------------------------------------*/
#zusatz {
    display: inline-block;
    
    vertical-align: top;
    
    margin-right: 5%;
    margin-left: 5%;
    min-width: calc(100%/3 - 10%);
    max-width: calc(100%/3 - 10%);
    
    min-height: 40vh;
    max-height: 40vh;
}
#weisheit {
    background: antiquewhite;
    min-height: 30vh;
    max-height: 30vh;
}
#vorschlag {
    background: antiquewhite;
    margin-top: 2vh;
    padding-right: 10%;
    padding-left: 10%;
    margin-left: 10%;
    
    min-height: 5.5vh;
    max-height: 5.5vh;
}
.input_begriffvorschlagen {
    background: antiquewhite;
    min-width: 60%;
    max-width: 60%;
    text-align: left;
    
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}
.shake:hover {
    -webkit-animation: shake 0.8s both;
    -moz-animation: shake 0.8s both;
    animation: shake 0.8s both;
    
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-moz-keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Privater Bereich
====================================================================*/
#private_bereich {
    min-height: 32vh;
    max-height: 32vh;
}
#private_content {
    margin-left: 50px;
    margin-right: 50px;
    
    max-height: 26vh;
    min-height: 26vh;
    
    max-width: calc(100% - 100px);
    border: 1vh dotted white;
    
    font-family: 'Amatic SC', cursive;
    vertical-align: middle;
}
/* Pinnwand - links:
--------------------------------------------*/
#privatePinnwand {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
    min-width: calc(100%/3 - 7%);
    max-width: calc(100%/3 - 7%);
    
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2.2vh;
}
#own_pinnwand {
    background: antiquewhite;
    
    font-size: 2.5vw;
    
    padding-top: 6vh;
    
    min-height: 13vh;
    max-height: 13vh;
}
/* Play - zentriert:
--------------------------------------------*/
#privatePlay {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
    min-width: calc(100%/3 + 5%);
    max-width: calc(100%/3 + 5%);
}
#play {
    pointer-events: none;
    font-family: 'Monoton', cursive;
    color: white;
    background: darkred;
    border-radius: 20px;
    
    margin-top: 1vh;
    padding-top: 6vh;
    
    min-height: 18vh;
    max-height: 18vh;
    
    font-size: 4vw;
}
.limelight:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
}
/* Punktestand - rechts:
--------------------------------------------*/
#privateScore {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    
    min-width: calc(100%/3 - 7%);
    max-width: calc(100%/3 - 7%);
    
    margin-left: 2%;
    margin-right: 2%;
}
#own_score {
    background: antiquewhite;
    
    font-size: 2.2vw;
    
    padding-top: 1vh;
    margin-top: 3vh;
    
    min-height: 19vh;
    max-height: 19vh;
    
    padding-left: 10%;
}
#eigenerScore td {
    text-align: left;
}

/*============================================================================================
*  Hover:
*=============================================================================================
*/
.onHoverOverPin {
    -webkit-box-shadow: 0px 12px 30px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 12px 30px 0px rgba(0,0,0,1);
    box-shadow: 0px 12px 30px 0px rgba(0,0,0,1);
    
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.onHoverOutPin {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    transform: scale(1.0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}