#previewPinnwandImg {
    min-height: 23vh;
    max-height: 23vh;
    min-width: auto;
    max-width: auto;
    background: white;
    -webkit-box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}
/*============================================================================================
*  Header:
*=============================================================================================
*/
#pinnwand_header {
    color: black;
    font-size: 6vw;
    font-family: 'Amatic SC', cursive;
    
    display: inline-block;
    min-width: 40%;
    max-width: 40%;
    
    min-height: 20vh;
    max-height: 20vh;
    
    vertical-align: top;
    padding-top: 2vh;
}

#pinnwand_header_left {
    display: inline-block;
    min-width: 29%;
    max-width: 29%;
    
    min-height: 20vh;
    max-height: 20vh;
    
    vertical-align: top;
}

.pic_back a img {
    max-height: 20vh;
    max-width: 20vh;
    margin: 2vw;
}

.pic_back {
    float: left;
}

/*============================================================================================
*  Main:
*=============================================================================================
*/
/*alle Hintergründe, Bilder, Rahmen und Begriffe mit absoluter Position*/

.allBackgrounds {
    position: absolute;
}
.allPics {
    position: absolute;
}
.allFrames {
    position: absolute;
}
.allRateBegriffe {
    position: absolute;
}

/*alle einzelnen Hintergründe, Bilder, Rahmen und Begriffe mit statischen Positionen*/

.background {
    margin: 4vh;
    position: static;
    float: left;
}

.frame {
    margin: 4vh;
    position: static;
    float: left;
}

.pic {    
    margin: 4vh;
    float: left;
    position: static;
    width: 199px;
    height: 244px;
}

.pic img {
    max-width: 179px;
    margin-top: 40px;
    margin-left: 12px;
    height: auto;
}

.rateBegriff {
    font-size: 2vw;
    font-family: 'Amatic SC', cursive;
    position: static;
    float: left;
    width: 199px;
    height: 244px;
    margin: 4vh;
    text-align: center;
}

.rateBegriff span {
    margin-top: 18vh;
}