/*
*========================================= 
* Aussehen Popup-Formular 
*=========================================
*/
.userFormular {
    text-align: center;
    background: white;
    margin-right: calc(100%/3);
    margin-left: calc(100%/3);
    width: calc(100%/3);
    border-radius: 10px;
    padding-bottom: 2vh;
    
    -webkit-box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
    -moz-box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
    box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
}
.userFormular h1 {
    font-family: 'Amatic SC', cursive;
    background-color: lightcoral;
    color: lightblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 3vw;
}
.userFormular input {
    margin-bottom: 2vh;
    width: 75%;
    font-size: 1.5vw;
}
.userFormular input:focus {
    outline: none;
}
.userFormular input[type=text]:focus, input[type=password]:focus {
    border-color: lightblue;
}
.userFormular input[type=button] {
    font-family: 'Amatic SC', cursive;
    background-color: white;
    border: 5px dotted lightcoral;
    color: lightcoral;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 4vh;
}
.userFormular input[type=button]:hover {
    border: 5px solid lightcoral;
}
.userFormular span {
    font-family: 'Amatic SC', cursive;
    color: lightblue;
    font-size: 2vw;
}
.userFormular a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.problemReport {
    color: crimson;
    text-align: left;
    width: 75%;
    padding-left: 12%;
    font-size: 1.1vw;
}
/*
*========================================= 
* Aussehen Popup-Formular nach Spielende für Painter 
*=========================================
*/
#gameEndPopUp {
    min-height: 0vh;
    max-height: 0vh;
}
.publishPicture {
    text-align: center;
    background: white;
    margin-right: calc(100%/3);
    margin-left: calc(100%/3);
    width: calc(100%/3);
    border-radius: 10px;
    padding-bottom: 1vh;
    
    min-height: 30vh;
    max-height: 40vh;
    
    transform: translate(0, 50%);
    
    -webkit-box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
    -moz-box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
    box-shadow: 2px 10px 35px -2px rgba(0,0,0,0.9);
}
.publishPicture h1 {
    font-family: 'Amatic SC', cursive;
    background-color: lightcoral;
    color: lightblue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 3vw;
}
.publishPicture input[type=button] {
    font-family: 'Amatic SC', cursive;
    background-color: white;
    border: 5px dotted lightcoral;
    color: lightcoral;
    
    font-size: 1.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 2vh;
}
.publishPicture input[type=button]:hover {
    border: 5px solid lightcoral;
}
/*
*========================================= 
* Ausblenden: hidden
*=========================================
*/
.hidden {
    display: none;
}
/*
*========================================= 
* Background verdunkelt sich
*=========================================
*/
.lowerOpacity {
    background-color: rgba(0, 0, 0, 0.4);
}
/*
*========================================= 
* Fade-Animationen 
*=========================================
*/
.fadeIn {
  transform: translate(0, -45%);
  animation: fadeInAnimation ease-in 1;
  animation-duration: 0.8s;
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translate(0, -100%);
    }
    to {
        opacity: 1;
        transform: translate(0, -45%);
    }
}
.fadeOut {
    animation: fadeOutAnimation ease-out 1;
    animation-duration: 1.5s;
    transform: translate(0, -200%);
}
@keyframes fadeOutAnimation {
    from {
        opacity: 1;
        transform: translate(0, -45%);
    }
    to {
        opacity: 0;
        transform: translate(0, -100%);
    }
}
/*
*========================================= 
* Popup - ändere Nutzerbild
*=========================================
*/
.userPicSelection {
    width: 20%;
    display: inline-block;
}
.changePic {
    max-width: 100%;
    min-width: 100%;
}

/*
*========================================= 
* Popup - LadeBanane
*=========================================
*/

#loadingBanana img {
    max-width: 150px;
    height: auto;
    background-color: lightcoral;
}
